<div class="container text-center m-5">
<form action="/answer" data-turbo="false" class="col-6 position-absolute top-50 start-50 translate-middle">
<label for="answer" class="form-label">What do you want to ask?</label>
  <input type="text" name="answer" id="answer" class="form-control" placeholder="Ask..." value=<%=params['answer']%>>
  <input type="submit" value="Ask!" class="btn btn-primary m-3">
</form>
</div>
